@import url(./bootstrap.css);

:root{
    --nextui-radius-medium: 8px;
}

* {
    margin: 0;
    font-family: 'Teachers';
    box-sizing: border-box;
    line-height: 1;
}
/* fix 浏览器默认样式 */
a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
    backface-visibility: hidden;
}
img {
    display: block;
    outline: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}


#root,html,body{
    /* background: linear-gradient(180deg, #090A09 0%, #000 100%); */
    background: #090A09;
    position: relative;
}

.basic-bg-gradient{
    position: relative;
}
.basic-bg-gradient:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(83.04deg, #9D47FF 5.44%, #00F0FF 54.92%); */
    background: linear-gradient(106.25deg, rgba(154, 75, 254, 0.2) 0%, rgba(28, 214, 255, 0.2) 30.99%, rgba(27, 254, 223, 0.2) 97.85%);

}

.gradient-bg{
    background: linear-gradient(90deg, #D99DFD 0%, #8A2AF7 11.41%, #1783E7 70%, #01F0FF 100%);
}

.gradient-sub-bg{
    background: linear-gradient(83.04deg, rgba(157, 71, 255, 0.2) 5.44%, rgba(0, 240, 255, 0.2) 54.92%);
}

.gradient-border {
    overflow: hidden;
    border: 1px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #000, #000), linear-gradient(90deg, #D99DFD 0%, #8A2AF7 11.41%, #1783E7 70%, #01F0FF 100%);
}

.gradient-color {
    background: linear-gradient(253.59deg, #E8D7E0 37.6%, #9D47FF 97.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-sub-border {
    overflow: hidden;
    border: 1px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #10141a, #10141a), linear-gradient(90deg, #D99DFD 0%, #8A2AF7 11.41%, #1783E7 70%, #01F0FF 100%);
}


.Toastify__toast-container--top-right {
    top: 3.825rem;
 }

 .Toastify__toast.Toastify__toast-theme--dark#unmathedAddressToast{
    border: 2px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #000, #000), linear-gradient(90deg, #D99DFD 0%, #8A2AF7 11.41%, #1783E7 70%, #01F0FF 100%);
 }


.title-lg{
    font-size: 180px;

    @media (max-width: 1400px) {
        font-size: 48px;
    }
}

.title-md{
    font-size: 96px;

    @media (max-width: 1400px) {
        font-size: 48px;
    }
}   

.title-md-2{
    font-size: 80px;

    @media (max-width: 1400px) {
        font-size: 48px;
    }
}   



.title{
    font-family: Unbounded;
    font-style: normal;
    font-weight: 200;
    text-transform: uppercase;

    @media (max-width: 1400px) {
        font-size: 48px;
    }
}

.sub-title{
    font-family: Teachers;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 8.88px;
    text-transform: uppercase;
    
    @media (max-width: 1400px) {
        font-size: 20px;
    }
}

.desc{
    color: rgba(255, 255, 255, 0.80);
    font-family: Teachers;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width: 1400px) {
        font-size: 16px;
    }
}

.teacher {
    font-family: teachers;
    text-transform: uppercase;
}

.unbounded {
    font-family: Unbounded;
    text-transform: uppercase;
}



.code{
    color: rgba(255, 255, 255, 0.80);
    font-family: "Fira Code";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* 为下拉菜单项添加亮度更高的渐变 */
.hover-bright-gradient[data-hover="true"] {
    background: linear-gradient(90deg, 
      rgba(23, 209, 178, 0.9) 0%, 
      rgba(76, 31, 153, 0.9) 100%
    );
    /* 提高亮度的box-shadow */
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
    /* 确保文字清晰可见 */
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }
  
  /* 从上到下的透明到纯白渐变边框 */
  .vertical-gradient-border {
    position: relative;
    z-index: 0;
  }
  
  .vertical-gradient-border:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }



  .gradient-border-card::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    padding: var(--border-width, 1px);
    background: linear-gradient(
      var(--gradient-direction, 90deg),
      var(--gradient-from, #fff) 0%,
      var(--gradient-to, rgba(255, 255, 255, 0.2)) 100%
    );
    -webkit-mask: 
      linear-gradient(#fff 0 100%) content-box,
      linear-gradient(#fff 0 100%);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }