@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --toastify-color-light: var(--base-200);
    --toastify-text-color-light: var(--secGray-900);

    --brand: var(#00F0FF);
    --sub-brand: var(#9D47FF);
    --text-3: var(#A3A3A3);

    .Toastify__close-button--light {
        color: var(--secGray-900);
        opacity: 1;
    }

    .Toastify__toast-icon{
        width: 2rem;
        height: 2rem;
    }
}


@layer components {
    .bg-gradient {
      @apply bg-gradient-to-r from-[#9D47FF] to-[#00F0FF];
    }
    .text-gradient{
      @apply bg-gradient bg-clip-text	text-[transparent];
    }
    .border-gradient{
      background-image: linear-gradient(to right, #000, #000), linear-gradient(83.04deg, #9D47FF 5.44%, #00F0FF 54.92%);
      @apply bg-gradient bg-clip-padding bg-origin-padding overflow-hidden border border-[transparent];
    }

    .bg-sub-gradient{
      @apply bg-gradient-to-r from-[#10141a] to-[#10141a]; 
    }
  }