name: Docker Image CI

on:
  push:
    branches: [ "*" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: cysic-tech/cysic-register

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2 
          
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set Build Env
        id: vars
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "BUILD_ENV=prod" >> $GITHUB_ENV
          elif [[ "${{ github.ref }}" == "refs/heads/pre" ]]; then
            echo "BUILD_ENV=pre" >> $GITHUB_ENV
          else
            echo "BUILD_ENV=qa" >> $GITHUB_ENV
          fi
          echo "Current branch: ${{ github.ref }}, Build env: ${{ env.BUILD_ENV }}"

      - name: Generate Dockerfile
        run: |
          cat Dockerfile.template | sed "s/{{BUILD_ENV}}/${{ env.BUILD_ENV }}/g" > Dockerfile
          echo "Generated Dockerfile for ${{ env.BUILD_ENV }} environment"
          cat Dockerfile

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log into registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.PACKAGE_DEPLOY_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            GIT_USER=${{ github.actor }}
            GIT_PWD=${{ secrets.PACKAGE_DEPLOY_TOKEN }}